version: "3"
services:
  redis:
    image: redis:4.0.5-alpine
    command: ["redis-server", "--appendonly", "yes"]
    networks:
      - AMP
    volumes:
      - ./docker/redis/data/:/data
    ports:
      - "6379:6379"
  mysql:
    image: mysql:5.6
    volumes:
      - ./docker/mysql/data/:/var/lib/mysql/
    networks:
      - AMP
    env_file:
      - .env
    ports:
      - ${DB_PORT}:3306
    command: ['--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci']
  adminer:
    image: adminer
    restart: always
    networks:
      - AMP
    ports:
      - "8080:8080"
#  api:
#    build: .
#    env_file:
#      - .env
#    networks:
#      - AMP
#    depends_on:
#      - redis
#      - mysql
#    ports:
#      - "3000:4000"
networks:
  AMP: